services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yii2_frankenphp
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/app/public
      - ./php.ini:/usr/local/etc/php/conf.d/99-custom.ini
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./frontend/ssl:/app/ssl
    environment:
      - SERVER_NAME=:80
      - FRANKENPHP_CONFIG=worker ./index.php
      - FRANKENPHP_MAX_REQUESTS=1000
      - DB_HOST=postgres
      - DB_NAME=mydb
      - DB_USER=myuser
      - DB_PASSWORD=root
      - REDIS_HOST=redis
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - postgres
      - redis
      - rabbitmq

    restart: unless-stopped

    # ========== WORKERS (CLI + SUPERVISOR) ==========
  worker:
      build:
        context: .
        dockerfile: Dockerfile.worker
      container_name: yii2_worker
      command: [ "/usr/bin/supervisord", "-c", "/etc/supervisor/conf.d/worker.conf" ]
      volumes:
        - ./:/app/public
        - ./worker.conf:/etc/supervisor/conf.d/worker.conf
        - ./php.ini:/usr/local/etc/php/conf.d/99-custom.ini
      working_dir: /app/public
      environment:
        - DB_HOST=postgres
        - DB_NAME=mydb
        - DB_USER=myuser
        - DB_PASSWORD=root
        - REDIS_HOST=redis
        - RABBITMQ_HOST=rabbitmq
      depends_on:
        - app
        - postgres
        - redis
        - rabbitmq

      restart: unless-stopped




  postgres:
    image: postgres:16
    command: >
     postgres
      -c timezone=Europe/Moscow
      -c log_timezone=Europe/Moscow
      -c max_connections=200
      -c autovacuum=on
    container_name: yii2_pgs
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: myuser
      POSTGRES_DB: mydb


    ports:
      - "127.0.0.1:5432:5432"
    volumes:
        - pgdata:/var/lib/postgresql/data

    restart: unless-stopped


  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch
    environment:
      - discovery.type=single-node
#      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      #      - plugins.security.disabled=true  # Отключаем security для разработки (опционально)
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=StrongPassword123!
      - DISABLE_SECURITY_PLUGIN=true

    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "127.0.0.1:9200:9200"
      - "127.0.0.1:9600:9600"
    volumes:
      - opensearch_data:/usr/share/opensearch/data

    restart: unless-stopped

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - "127.0.0.1:5601:5601"
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"

    depends_on:
      - opensearch
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: yii2_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    restart: unless-stopped



# веб интерфейс  http://localhost:9001 можно руками создать backet
  minio:
    image: minio/minio:latest
    container_name: yii2_minio
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"    # Web-консоль (новая версия)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"

    volumes:
      - minio_data:/data

    restart: unless-stopped




  imaginary:
    image: h2non/imaginary:latest
    container_name: imaginary
    ports:
      - "127.0.0.1:9002:9000" # Imaginary будет доступен снаружи на порту 8080

    command: -enable-url-source -http-read-timeout 15 -concurrency 20
    restart: unless-stopped








  #чтобы запускать vue c https и бэк yii2 с https нужны сертификаты ssl (в данном проекте пути в default.conf для Nginx прописаны) чтобы они были в  папке frontend/ssl
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: yii2_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - ./frontend/ssl:/app/ssl
      - ./frontend/.env:/app/.env
      - ./frontend/.env.development:/app/.env.development
      - ./frontend/.env.production:/app/.env.production
    command: npm run dev
    environment:
      - VITE_API_BASE_URL=https://localhost:5173
    depends_on:
      - app

    profiles:
      - dev




  redis:
    image: redis:latest
    container_name: yii2_redis
    ports:
      - "127.0.0.1:6380:6379"
    volumes:
      - redis_data:/data

    restart: unless-stopped



volumes:
  pgdata:
  opensearch_data:
  minio_data:
  rabbitmq_data:
  redis_data:








#если контейнер запущен откроются ссылки
#    Vue: https://localhost:5173 вход в админку SPA фронтенд
#    Backend: https://localhost:8443/api/site  (стартовая yii2) работает если прописана в web в rules путь к action
#    RabbitMQ: http://localhost:15672
#
#    OpenSearch: http://localhost:9200
#
#    OpenSearch Dashboards: http://localhost:5601


#для загрузки фида
# сначала в командной строке запускаем  очереди в rabbitMQ команда : docker-compose exec app php yii rabbit-mq/setup-queues
# остановка всех консьюмеров использование: docker-compose stop worker
# запуск консьюмеров после остановки использование: docker-compose start worker
#      Добавление консьюмеров.
#  Открываете worker.conf в редакторе.
#  Меняете numprocs=10 на numprocs=20.
#  команды для применения изменений бех пересоздания контейнеров
#  docker-compose exec worker supervisorctl reread
#  docker-compose exec worker supervisorctl update
# проверка статуса воркеров соманда : docker-compose exec worker supervisorctl status


#  затем в отдельном терминале запускаем очередь redis чтобы асинхронно пушить фиды команда : docker-compose exec app php yii queue/listen --verbose=1

#миграции через docker : docker-compose exec app php yii migrate/create 'заполняем название миграции'

#зайти в Redis через docker :  docker exec -it shoplocal-redis-1 redis-cli
# внутри вводим HGETALL feed:metrics:id таблицы vendor_feed_reports

# команда на удаления кеша финализации фида из redis команда: docker exec shoplocal-redis-1 redis-cli --scan --pattern "feed:metrics:*" | ForEach-Object { docker exec  shoplocal-redis-1 redis-cli del $_ }





