services:
  postgres:
    image: postgres:16
    command: [
      "postgres",
      "-c", "timezone=Europe/Moscow",
      "-c", "log_timezone=Europe/Moscow"
    ]
    container_name: yii2_pgs
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: myuser
      POSTGRES_DB: mydb

    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
